<mat-card-content class="inpt">

  <mat-form-field class="mrg" appearance="outline">
    <mat-label></mat-label>
    <input matInput placeholder="Adicione uma atividade" #inputTarefa (keyup.enter)="add(inputTarefa.value)">
  </mat-form-field>

  <button class="cx" mat-raised-button color="primary" (click)="add(inputTarefa.value)">+</button>

</mat-card-content>

<mat-list class="adc">

  <mat-list-item class="trf" 
  *ngFor="let tarefa of tarefas; let indexOfelement = index"
  
  >
     <span>
      {{ tarefa }}
     </span> 
    <button appStyleBtn class="fade" mat-icon-button color="warn" 
    (click)="remover(tarefa)"><mat-icon>delete</mat-icon></button> <!-- estilizar ou incrementar esse botaão com diretivas -->
  </mat-list-item>

</mat-list>

<mat-card-footer class="ftr">

<p >Você tem {{tarefas.length}} tarefas pendentes!</p>

<button  (click)="removerall()" btn>Clear All</button> <!-- estilizar esse botaão com diretivas -->

</mat-card-footer>



