.inpt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: auto; 
    margin-bottom: 0;

}

.mrg {
    margin-bottom: 0;
    padding-bottom: 0;
}

.cx{
    margin-bottom: 0;
    margin-left: 10px;
    height: 53px;
    font-size: 30px;

}

.adc{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    
    /* barra de rolagem */
    overflow-y: scroll;
    max-height: 160px; 
}

.trf{

    background-color: rgb(240, 240, 240);
    margin-bottom: 10px;
    justify-content: left;
    
}

.trf span{

    width: 100%;
}

.fade
{
        opacity:0.3;
}
.fade:hover
{
        opacity:5;
}


.ftr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: auto; 
    margin-bottom: 10px;

}